div(ui-content-for="title")
    span 密码设置

.scrollable
    .scrollable-content.section
        div(class='alert {{notice.type}}',ng-show='notice.show')
            a.close(ng-click='showMsg()', data-dismiss='alert') &times;
            | {{notice.msg}}
        form(role='form', ng-submit='submitPWD(user);', name="myform")
            fieldset
                .form-group
                    label(name='password') 原始密码
                    input.form-control(type='password',
                    name='password',
                    ng-model='user.password',
                    placeholder='请输入原始密码',
                    )
                .form-group.has-feedback
                    label(name='newPassword') 新密码
                    input.form-control(type='password',
                    name='newPassword',
                    ng-model='user.newPassword',
                    placeholder="请输入新密码",
                    ng-minlength='5',
                    ng-focus='npfocus=true',
                    ng-blur='npfocus=false')
                .help-block(ng-show='myform.newPassword.$error.minlength&&!npfocus')
                    span.text-danger 密码必须大于或等于5位
                .form-group.has-feedback
                    label(name='repeatPassword') 确认密码
                    input.form-control(type='password',
                    name='repeatPassword',
                    ng-model='user.repeatPassword',
                    placeholder="请重复输入新密码",
                    ng-minlength='5',
                    ng-focus='rpfocus=true',
                    ng-blur='rpfocus=false')
                .help-block(ng-show='myform.repeatPassword.$dirty&&user.newPassword!=user.repeatPassword&&!rpfocus')
                    span.text-danger 两次密码输入不同

            button.btn.btn-primary.btn-block(
            ng-disabled='!myform.password.$dirty||!myform.newPassword.$dirty||myform.$invalid||user.newPassword!=user.repeatPassword')
                |{{submiting}}
            div(ui-content-for='navbarAction')
